@model List<AllDamagesModel>

@{
    ViewData["Title"] = "All Damages";
}

<h2 style="margin: 2%; text-align: center;">Damages manager</h2>
<hr class="bg-primary w-100">

<form method="post" class="row g-3">
    <table id="table_id" class="display">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Damage type</th>
                <th>Consumer</th>
                <th>Insurance Company</th>
                <th>Event Date</th>
                <th>Registration Date</th>
                <th>Approved</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var damage in Model)
            {
                <tr>
                    <td>@damage.Id.Substring(0, 8)</td>
                    <td>@damage.DamageType</td>
                    <td>@damage.PersonFirstName</td>
                    <td>@damage.CompanyName</td>
                    <td>@damage.EventDate</td>
                    <td>@damage.RegisterDate</td>
                    <td><b>@damage.IsApproved</b></td>
                    <td>
                        @if (damage.IsApproved == "NO")
                        {
                            <button asp-area="Admin"
                                    asp-action="ChangeDamageStatus"
                                    asp-controller="Manage"
                                    asp-route-id="@damage.Id"
                                    class="btn btn-success">
                                APPROVE
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-success disabled">APPROVE</button>
                        }
                        <button asp-area="Home" asp-action="Info" asp-controller="Damages" asp-route-id="@damage.Id" class="btn btn-info">INFO</button>
                        <button asp-area="Home" asp-action="DeleteDamage" asp-controller="Damages" asp-route-id="@damage.Id" class="btn btn-danger">DELETE</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>

</form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}

