@model List<AllEmployeesViewModel>

<h2 style="margin: 2%; text-align: center;">Employee manager</h2>
<hr class="bg-primary w-100">

<form method="post" class="row g-3">
    <table id="table_id" class="display">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Employee Name</th>
                <th>Phone Number</th>
                <th>Status</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id.Substring(0, 8)</td>
                    <td>@employee.Name</td>
                    <td>@employee.PhoneNumber</td>
                    <td><b>@employee.Status</b></td>
                    <td>
                        @if (employee.Status == "Active")
                        {
                            <button asp-area="Admin"
                                    asp-action="ChangeEmployeeStatus"
                                    asp-controller="Manage"
                                    asp-route-id="@employee.Id"
                                    class="btn btn-warning">
                                CHANGE
                            </button>
                        }
                        @if (employee.Status == "Non active")
                        {
                            <button asp-area="Admin"
                                    asp-action="ChangeEmployeeStatus"
                                    asp-controller="Manage"
                                    asp-route-id="@employee.Id"
                                    class="btn btn-success">
                                ACTIVATE
                            </button>
                        }
                        <button  asp-area="Admin"
                                 asp-action="EmployeeInfo"
                                 asp-controller="Manage"
                                 asp-route-id="@employee.Id"
                                class="btn btn-info">INFO</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}
