@model List<AllInsuranceCompaniesViewModel>

<h2 style="margin: 2%; text-align: center;">Insurance companies manager</h2>
<hr class="bg-primary w-100">

<form method="post" class="row g-3">
    <table id="table_id" class="display">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Company Name</th>
                <th>Bulstat</th>
                <th>FAX</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Status</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
            <tr>
                <td>@company.Id.Substring(0, 8)</td>
                <td>@company.Name</td>
                <td>@company.Bulstat</td>
                <td>@company.FAX</td>
                <td>@company.Address</td>
                <td>@company.PhoneNumber</td>
                <td>@company.Email</td>
                <td><b>Non active</b></td>
                <td>
                    <button class="btn btn-success">CHANGE</button>
                    <button class="btn btn-info">INFO</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}