@model AllDamagesQueryModel
@inject IUserService CurrUser

@{
    ViewData["Title"] = "List of Damages";
}

<h2 style="margin: 2%; text-align: center;">📋 List with all registered damages</h2>
<hr class="bg-primary w-100">

<section class="py-5">
    <table class="table" id="DamagesDataTable">
        @foreach (var damage in Model.Damages)
        {
            <tbody>
                <tr>
                    <td>
                        <div class="col-20">
                            <label for="opionNumber" class="form-label">Damage type: </label>
                            <input class="form-control" type="text" placeholder="@damage.DamageType" aria-label="Disabled input example" disabled>
                            <label for="opionNumber" class="form-label">Insurance company: </label>
                            <input class="form-control" type="text" placeholder="@damage.CompanyName" aria-label="Disabled input example" disabled>
                            <label for="opionNumber" class="form-label">Event place: </label>
                            <input class="form-control" type="text" placeholder="@damage.EventPlace" aria-label="Disabled input example" disabled>
                        </div>
                    </td>
                    <td>
                        <div class="col-20">
                            <label for="opionNumber" class="form-label">Event date: </label>
                            <input class="form-control" type="text" placeholder="@damage.EventDate" aria-label="Disabled input example" disabled>
                            <label for="opionNumber" class="form-label">Register date: </label>
                            <input class="form-control" type="text" placeholder="@damage.RegisterDate" aria-label="Disabled input example" disabled>
                            <label for="opionNumber" class="form-label">Identity number: </label>
                            <input class="form-control" type="text" placeholder="@damage.IdentityNumber" aria-label="Disabled input example" disabled>
                        </div>
                    </td>
                    <td>
                        <div class="col-20">
                            <label for="opionNumber" class="form-label">Identity number: </label>
                            <input class="form-control" type="text" placeholder="@damage.IdentityNumber" aria-label="Disabled input example" disabled>
                            <label for="opionNumber" class="form-label">Person first name: </label>
                            <input class="form-control" type="text" placeholder="@damage.PersonFirstName" aria-label="Disabled input example" disabled>
                            <label for="opionNumber" class="form-label">Person second name: </label>
                            <input class="form-control" type="text" placeholder="@damage.PersonSecondName" aria-label="Disabled input example" disabled>
                        </div>
                    </td>
                    <td>
                        <div class="col-20">
                            <label for="opionNumber" class="form-label">Damage ID:</label>
                            <input class="form-control" type="text" placeholder="@damage.Id.Substring(0,8)" aria-label="Disabled input example" disabled>
                            <label for="opionNumber" class="form-label">Insurance company ID:</label>
                            <input class="form-control" type="text" placeholder="@damage.InsuranceCompanyId.Substring(0,8)" aria-label="Disabled input example" disabled>
                            <form method="post" asp-controller="Damages" asp-action="DeleteDamage" asp-route-id="@damage.Id">
                                <div class="m-sm-4">
                                    <a asp-action="Details" asp-controller="Damages" asp-route-id="@damage.Id" class="btn btn-primary">Details</a>
                                    @if (CurrUser.IsEmployee(User))
                                    {
                                        <button type="submit" class="btn btn-danger m-sm-auto">Delete</button>
                                    }
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                </tr>
            </tbody>
        }
    </table>
</section>

z@*<nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>*@