@model AllDamagesQueryModel
@inject IUserService CurrUser

@{
    ViewData["Title"] = "List of Damages";
}

<h2 style="margin: 2%; text-align: center;">📋 List With All Registered Damages</h2>
<hr class="bg-primary w-100">

<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label><b>Damage Type:</b></label>
                <select class="form-control">
                    <option value="">All</option>
                    @foreach (var type in Model.DamageTypes)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"><b>Search Tearm:</b></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Business damage, etc...">
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"><b>Sorting Tearm:</b></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Event Date</option>
                    <option value="1">Event Type</option>
                    <option value="2">Insurance Company</option>
                </select>
            </div>
        </div>
    </div>
</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalDamages / AllDamagesQueryModel.DamagesPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Damages"
           asp-action="AllDamages"
           asp-route-currentPage="@previousPage"
           asp-route-brand="@Model.DamageType"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     !Model.Damages.Any();
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-end @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Damages"
           asp-action="AllDamages"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-brand="@Model.DamageType"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

<div class="row">
    @foreach (var damage in Model.Damages)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <h2>@damage.DamageType</h2>
                    @switch (damage.DamageType)
                    {
                        case "Car damage":
                            <img class="card-img-top-eurohelp" src="~/images/insurance/car.png" />
                            break;
                        case "Home damage":
                            <img class="card-img-top-eurohelp" src="~/images/insurance/home.png" />
                            break;
                        case "Pet damage":
                            <img class="card-img-top-eurohelp" src="~/images/insurance/pet.png" />
                            break;
                        case "Travel damage":
                            <img class="card-img-top-eurohelp" src="~/images/insurance/travel.png" />
                            break;
                        case "Medical damage":
                            <img class="card-img-top-eurohelp" src="~/images/insurance/medicine.png" />
                            break;
                        case "Business damage":
                            <img class="card-img-top-eurohelp" src="~/images/insurance/business.png" />
                            break;
                        default:
                            <img class="card-img-top-eurohelp" src="~/images/insurance/bad.png" />
                            break;
                    }
                </div>
                <div class="card-body">
                    <h6><b>ID: </b>@damage.Id.Substring(0, 5)</h6>
                    <h6><b>Damage type: </b>@damage.DamageType</h6>
                    <h6><b>Event place: </b>@damage.EventPlace</h6>
                    <h6><b>Insurance company: </b>@damage.CompanyName</h6>
                    <h6><b>Owner: </b>@damage.PersonFirstName @damage.PersonSecondName</h6>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-info">INFO</button>
                    <button class="btn btn-warning">EDIT</button>
                    <button class="btn btn-danger">DELETE</button>
                </div>
            </div>
        </div>
    }
</div>