@model AllDamagesQueryModel

@{
    ViewData["Title"] = "Damage Search";
}

<h1 style="margin: 2%; text-align: center;">Търсене и справка за щети</h1>
<hr class="bg-primary w-100">

<form method="get" class="row g-3">
    <div class="card w-80">
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="row-5">
                                <label asp-for="@Model.SearchId" class="form-label">Номер на щета</label>
                                <input asp-for="@Model.SearchId" type="text" class="form-control" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div class="row-5">
                                <label asp-for="@Model.SearchEventDate" class="form-label">Дата на събитие</label>
                                <input asp-for="@Model.SearchEventDate" type="date" class="form-control" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div class="row-5">
                                <label asp-for="@Model.SearchRegiestrationDate" class="form-label">Дата на регистрация</label>
                                <input asp-for="@Model.SearchRegiestrationDate" type="date" class="form-control" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div class="row-5">
                                <label asp-for="@Model.SearchCompanyName" class="form-label">Име на компания</label>
                                <input asp-for="@Model.SearchCompanyName" type="text" class="form-control" id="compnayId" placeholder="">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col text-center">
                <button class="btn btn-primary" type="submit">Търсене</button>
                <a href="#" class="btn btn-warning">Изход</a>
            </div>
        </div>
    </div>
</form>

<div class="container mt-3">
    <h2>Резултат:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Номер на щета</th>
                <th>Дата на регистрация</th>
                <th>Дата на събитие</th>
                <th>Име на щета</th>
            </tr>
        </thead>
        @foreach (var damage in Model.Damages)
        {
            <tbody>
                <tr>
                    <td>@damage.Id</td>
                    <td>@damage.RegistrationDate</td>
                    <td>@damage.EventDate</td>
                    <td>@damage.Name</td>
                    <td><button class="btn-outline-info">Преглед</button></td>
                </tr>
            </tbody>
        }
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>