@model AllDamagesQueryModel

@{
    ViewData["Title"] = "Damage Search";
}

<h2 style="margin: 2%; text-align: center;">🔍 Search damage</h2>
<hr class="bg-primary w-100">

<form method="get" class="row g-3">
    <div class="card w-80">
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="row-5">
                                <label asp-for="@Model.SearchId" class="form-label">Damage ID:</label>
                                <input asp-for="@Model.SearchId" type="text" class="form-control" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div class="row-5">
                                <label asp-for="@Model.SearchCompanyName" class="form-label">Company name:</label>
                                <input asp-for="@Model.SearchCompanyName" type="text" class="form-control" id="compnayId" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div class="row-5">
                                <label asp-for="@Model.SearchEventDate" class="form-label">Event date:</label>
                                <input asp-for="@Model.SearchEventDate" type="date" class="form-control" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div class="row-5">
                                <label asp-for="@Model.SearchRegiestrationDate" class="form-label">Register date:</label>
                                <input asp-for="@Model.SearchRegiestrationDate" type="date" class="form-control" placeholder="">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col text-center">
                <button class="btn btn-primary" type="submit">Search</button>
                <a asp-action="DamageSearch" class="btn btn-warning" type="submit">Refresh</a>
            </div>
        </div>
    </div>
</form>

<div class="container mt-3">
    <h2 class="text-center">Result</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Damage ID</th>
                <th>Register date</th>
                <th>Event date</th>
                <th>Damage type</th>
                <th>Insurance company</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var damage in Model.Damages)
            {
                <tr>
                    <td>@damage.Id.Substring(0, 8)</td>
                    <td>@damage.RegisterDate</td>
                    <td>@damage.EventDate</td>
                    <td>@damage.DamageType</td>
                    <td>@damage.CompanyName</td>
                    <td>
                        <a asp-action="Details" asp-controller="Damages" asp-route-id="@damage.Id" class="btn btn-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>