@model EditDamageViewModel

@{
    ViewData["Title"] = "Damage Modification";
}

<h2 style="margin: 2%; text-align: center;">✍ Details</h2>
<hr class="bg-primary w-100">

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home">Main data</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane container active" id="home">
        <form method="post" class="row g-3">
            <div class="col-12">
                <label asp-for="@Model.CompanyName" class="form-label"><b>Insurance company:</b></label>
                <input class="form-control" type="text" placeholder="@Model.CompanyName" aria-label="Disabled input example" disabled>
                <span asp-validation-for="@Model.CompanyName" class="small text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="@Model.DamageType" class="form-label"><b>Damage type:</b></label>
                <select asp-for="@Model.DamageType" class="form-select">
                    <option>Car damage</option>
                    <option>Home damage </option>
                    <option>Pet damage</option>
                    <option>Travel damage</option>
                    <option>Medical damage</option>
                    <option>Business damage</option>
                </select>
            </div>
            <div class="col-2">
                <label asp-for="@Model.EventDate" class="form-label"><b>Event date:</b></label>
                <input asp-for="@Model.EventDate" type="date" class="form-control">
                <span asp-validation-for="@Model.EventDate" class="small text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="@Model.RegistrationDate" class="form-label"><b>Registration date:</b></label>
                <input class="form-control" type="text" placeholder="@Model.RegistrationDate" aria-label="Disabled input example" disabled>
                <span asp-validation-for="@Model.RegistrationDate" class="small text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="@Model.PersonFirstName" class="form-label"><b>Person first name:</b></label>
                <input asp-for="@Model.PersonFirstName" class="form-control">
                <span asp-validation-for="@Model.PersonFirstName" class="small text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="@Model.PersonSecondName" class="form-label"><b>Person second name:</b></label>
                <input asp-for="@Model.PersonSecondName" class="form-control">
                <span asp-validation-for="@Model.PersonSecondName" class="small text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="@Model.IdentityNumber" class="form-label"><b>Identity number:</b></label>
                <input asp-for="@Model.IdentityNumber" class="form-control">
                <span asp-validation-for="@Model.IdentityNumber" class="small text-danger"></span>
            </div>
            <div></div>
            <div class=" text-center">
                <button asp-controller="Damages" asp-action="Details" type="submit" class="btn btn-primary">SAVE</button>
                <a asp-controller="Damages" asp-action="AllDamages" class="btn btn-secondary">CANCEL</a>
            </div>
        </form>
    </div>
</div>