@model EditDamageViewModel

@{
    ViewData["Title"] = "Damage Modification";
}

<h1 style="margin: 2%; text-align: center;">✍ Модифициране на щета</h1>
<hr class="bg-primary w-100">

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home">Основни данни</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu1">Претенции</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu2">Плащания</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane container active" id="home">
        <form method="post" class="row g-3">
            <div class="col-12">
                <label asp-for="@Model.Name" class="form-label">Тип щета</label>
                <input asp-for="@Model.Name" class="form-control">
            </div>
            <div class="col-12">
                <label asp-for="@Model.CompanyName" class="form-label">Застрахователна компания</label>
                <input class="form-control" type="text" placeholder="@Model.CompanyName" aria-label="Disabled input example" disabled>
            </div>
            <div class="col-12">
                <label asp-for="@Model.EventType" class="form-label">Вид събитие</label>
                <select asp-for="@Model.EventType" class="form-select">
                    <option>Събитие в чужбина - Каско регрес на Евроинс</option>
                    <option>Събитие в България - Каско регрес на Евроинс</option>
                    <option>Събитие в България - Каско регрес на Български застраховател</option>
                    <option>Събитие в чужбина - Каско регрес на Български застраховател</option>
                    <option>ПТП в България - Каско регрес на чужд застраховател</option>
                    <option>ПТП в чужбина – Каско регрес на чужд застраховател</option>
                </select>
            </div>

            <div class="col-2">
                <label asp-for="@Model.EventDate" class="form-label">Дата на събитие</label>
                <input asp-for="@Model.EventDate" type="date" class="form-control">
            </div>
            <div class="col-2">
                <label asp-for="@Model.RegistrationDate" class="form-label">Дата на регистрация</label>
                <input class="form-control" type="text" placeholder="@Model.RegistrationDate" aria-label="Disabled input example" disabled>
            </div>
            <div class="col-3">
                <label asp-for="@Model.BulgarianRegNumber" class="form-label">Български регистрационен номер</label>
                <input asp-for="@Model.BulgarianRegNumber" class="form-control">
            </div>
            <div class="col-3">
                <label asp-for="@Model.ForeignRegNumber" class="form-label">Чужд регистрационен номер</label>
                <input asp-for="@Model.ForeignRegNumber" class="form-control">
            </div>
            <div class="col-2">
                <label asp-for="@Model.Property" class="form-label">Имущество</label>
                <input asp-for="@Model.Property" class="form-control">
            </div>
            <div class="col-2">
                <label asp-for="@Model.InjuredPerson" class="form-label">Пострадал</label>
                <select asp-for="@Model.InjuredPerson" class="form-select">
                    <option>Водач</option>
                    <option>Пътник</option>
                    <option>Мотоциклетист</option>
                    <option>Велосипедист</option>
                    <option>Пешеходец</option>
                </select>
            </div>
            <div></div>
                <div class="col-4">
                    <button asp-controller="Damages" asp-action="Details" type="submit" class="btn btn-primary">Запис</button>
                    <a asp-controller="Damages" asp-action="AllDamages" class="btn btn-secondary">Отказ</a>
                </div>
        </form>
    </div>

    <div class="tab-pane container fade" id="menu1">
        <form class="row g-3">
            <div class="col-2">
                <label for="opionNumber" class="form-label">Претенция номер: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>
            <div class="col-2">
                <h4>Нова претенция</h4>
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Дата на претенция: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="opionNumber" class="form-label">Материално обезщетение: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>
            <div class="col-2">
                <label for="opionNumber" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">Нематериално обезщетение: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">Посредническа такса: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>



            <div class="col-3">
                <label for="optionDate" class="form-label">ОБЩА СУМА НА ПРЕТЕНЦИЯТА: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
                <button type="button" class="btn btn-success">Изчисление</button>
            </div>

            <div>
                <!-- Разделител !!-->
            </div>


            <div class="col-4">
                <label for="optionDate" class="form-label">Предявена към: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">ВЪЗСТАНОВЕНА СУМА: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-4">
                <label for="optionDate" class="form-label">Допълнителна информация за плащането: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Счетоводна дата: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <button type="button" class="btn btn-primary" name="register">Запиши</button>
                <button type="button" class="btn btn-secondary" name="cancel">Изтрий</button>
            </div>
        </form>
    </div>
    <div class="tab-pane container fade" id="menu2">
        <form class="row g-3">
            <div class="col-2">
                <label for="opionNumber" class="form-label">Плащане номер: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>
            <div class="col-2">
                <h4>Ново плащане</h4>
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Тип на плащане: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Дата на плащане: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="opionNumber" class="form-label">Претенция номер: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Дата на претенция: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="opionNumber" class="form-label">Материално обезщетение: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>
            <div class="col-2">
                <label for="opionNumber" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="opionNumber" placeholder="претенция...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">Нематериално обезщетение: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">Посредническа такса: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">ОБЩА СУМА ЗА ПЛАЩАНЕ: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="дата...">
                <button type="button" class="btn btn-success">Изчисление</button>
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <label for="optionDate" class="form-label">ИЗПЛАТЕНА СУМА: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Валута: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>


            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-4">
                <label for="optionDate" class="form-label">Платено на: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-4">
                <label for="optionDate" class="form-label">ЕГН/БУЛСТАТ на: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-4">
                <label for="optionDate" class="form-label">Роля: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-4">
                <label for="optionDate" class="form-label">Номер на платежен документ: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>
            <div class="col-2">
                <label for="optionDate" class="form-label">Счетоводна дата: </label>
                <input type="text" class="form-control" id="optionDate" placeholder="...">
            </div>

            <div>
                <!-- Разделител !!-->
            </div>

            <div class="col-3">
                <button type="button" class="btn btn-primary" name="register">Запиши</button>
                <button type="button" class="btn btn-secondary" name="cancel">Изтрий</button>
            </div>
        </form>
    </div>
</div>