@model IEnumerable<DamageServiceListingModel>

@{
    ViewBag.Title = "My damages";
}

<h2 style="margin: 2%; text-align: center;">👋 My damages</h2>
<hr class="bg-primary w-100">

@if (Model.Any())
{
    <div class="row">
        @foreach (var damage in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header text-center">
                        <h2>@damage.DamageType</h2>
                        @switch (damage.DamageType)
                        {
                            case "Car damage":
                                <img class="card-img-top-eurohelp" src="~/images/insurance/car.png" />
                                break;
                            case "Home damage":
                                <img class="card-img-top-eurohelp" src="~/images/insurance/home.png" />
                                break;
                            case "Pet damage":
                                <img class="card-img-top-eurohelp" src="~/images/insurance/pet.png" />
                                break;
                            case "Travel damage":
                                <img class="card-img-top-eurohelp" src="~/images/insurance/travel.png" />
                                break;
                            case "Medical damage":
                                <img class="card-img-top-eurohelp" src="~/images/insurance/medicine.png" />
                                break;
                            case "Business damage":
                                <img class="card-img-top-eurohelp" src="~/images/insurance/business.png" />
                                break;
                            default:
                                <img class="card-img-top-eurohelp" src="~/images/insurance/bad.png" />
                                break;
                        }
                    </div>
                    <div class="card-body">
                        <h6><b>ID: </b>@damage.Id.Substring(0, 5)</h6>
                        <h6><b>Damage type: </b>@damage.DamageType</h6>
                        <h6><b>Event place: </b>@damage.EventPlace</h6>
                        <h6><b>Insurance company: </b>@damage.CompanyName</h6>
                        <h6><b>Owner: </b>@damage.PersonFirstName @damage.PersonSecondName</h6>
                    </div>
                    <div class="card-footer">
                        <form class="text-center" method="post" asp-controller="Damages" asp-action="DeleteDamage" asp-route-id="@damage.Id">
                            <button asp-action="Edit" asp-controller="Damages" asp-route-id="@damage.Id" class="btn btn-warning">EDIT</button>
                            <button type="submit" class="btn btn-danger m-sm-auto">DELETE</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <h2>You don't have registered damages !!!</h2>
    </div>
}
